*{
    margin: 0;
    padding: 0;

}

body{
    overflow: hidden;
    animation: shackbody linear 2s infinite;
}

.sky{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(img/trees.png);
    background-size: cover;
    position: absolute;
    top: -145px;
}

.track{
    height: 50vh;
    width: 800vw;
    background-image: url(img/track.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 70vh;
    animation: carMove linear 6s infinite ;
}

.car{
    height: 100px;
    width: 380px;
    background-image: url(img/car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 30vh;
    animation: shack linear .1s infinite;

}


.wheel1 img{

    width: 77px;
    position: relative;
    top: 42px;
    left: 41px;
    animation: wheelrotate  linear .2s infinite;

}


.wheel2 img{

    width: 77px;
    position: relative;
    top: -39px;
    left: 235px;
    animation: wheelrotate  linear .2s infinite;

}

@keyframes wheelrotate {

    100%{
        transform: rotate(360deg);
    }
    
}


@keyframes carMove {

    100%{
        transform: translateX(-500vw);
    }
    
}

@keyframes shack {

    0%{
        transform: translateY(-5px);
    }
    
    50%{
        transform: translateY(5px);
    }
    
    100%{
        transform: translateY(-5px);
    }
    

}


@keyframes shackbody {

    0%{
        transform: translateY(-35px);
    }
    
    50%{
        transform: translateY(35px);
    }
    
    100%{
        transform: translateY(-35px);
    }
    

}

